{% extends 'downloader/home.html' %}
{% load static %}

    {% block title %}
    <title>Video Downloader</title>
    {% endblock %}

{% block body %}
      <h3 class="text-center m-3">Download Video</h3>
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/carousel/image1.jpg' %}" height="200px" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/carousel/image2.jpg' %}" height="200px" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/carousel/image3.jpg' %}" height="200px" class="d-block w-100" alt="..." />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div
        class="h-100 d-flex align-items-center justify-content-center border  p-lg-5 bg-light"
      >
        <form class="align-content-center" id="download-form">
          <input
            class="input-group-text col-13 mx-auto"
            placeholder="Eneter URL"
            type="url"
            id="url"
            name="url"
            required
          />
          <br />
          <div class="input-group mb-3">
            <input
              class="input-group-text d-grid gap-2 col-15 mx-auto"
              placeholder="Recipient's username"
              type="text"
              id="folder_path"
              name="folder_path"
              readonly
              required
            />

            <button
              class="btn btn-outline-danger"
              type="button"
              id="choose-folder-button"
            >
              Choose Folder
            </button>
          </div>
          <div class="d-grid gap-2 col-13 mx-auto">
            <button class="btn btn-outline-danger" type="submit">
              Download
            </button>
          </div>
        </form>
      </div>

      <div class="text-center" id="progress-container" style="display: none">
        <p>Download progress:</p>
        <progress id="progress-bar" value="0" max="100"></progress>
      </div>

 {% endblock %}
